<!--<div class="answer">
  <button class="btn btn-primary btn-large" [disabled]="disabled"
          (click)="onAnswerSelected()" AdaptButtonSize >{{answer?.value}}</button>
</div>


<div class="answer">
  <button class="btn btn-primary btn-large" [disabled]="disabled" [ngClass]="{'correct-animation': isCorrect, 'incorrect-animation': !isCorrect}"
          (click)="onAnswerSelected()" AdaptButtonSize >{{answer?.value}}</button>
</div>
<div class="answer">
  <button class="btn btn-primary btn-large" [disabled]="disabled"
          [ngClass]="{'correct-animation': isCorrect === true, 'incorrect-animation': isCorrect === false}"
          (click)="onAnswerSelected()" AdaptButtonSize >{{answer?.value}}</button>
</div>-->
<div class="answer">
  <button #answerButton class="btn btn-primary btn-large" [disabled]="disabled"
          (click)="onAnswerSelected(answerButton)" AdaptButtonSize >{{answer?.value}}</button>
</div>

