<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SOLID</title>
</head>

<body>

<section class="background-image-section">
    <header>
      <div id="Connexion">
        <h1>CONNEXION :</h1>
        <!-- <img id='connexion' src="../assets/Connexion.png"  alt="Connexion"> -->
    </div>
    </header>

    <app-profil></app-profil>

    <!-- <div class="test">
      <p>test</p>
    </div>  -->

    <div class="utilisateur">
      <div class="utilisateur" *ngFor="let user of listeUtilisateur">

        <app-user [user]="user" (deleteUser)="deleteUser($event)"></app-user>

      </div>


    </div>

</section>
</body>
</html>
