<div *ngIf="pro filSelectionne" class="profil-selectionne">
  <h2 class="label">Profil sélectionné :</h2>
  <div class="profil-item">
    <img [src]="profilSelectionne.image" routerLink="/gameinstance" alt="Image de profil">
    <span class="profil-selectionne-nom">{{ profilSelectionne.nom }} {{ profilSelectionne.prenom}}</span>
  </div>
</div>

<div class="profil-container">
  <h1>Sélectionnez un profil</h1>
  <div class="profil-liste">
    <div *ngFor="let utilisateur of listeUtilisateur" class="profil-item" (click)="selectProfil(utilisateur)">
      <img [src]="utilisateur.image" alt="Image de profil">
      <span>{{ utilisateur.nom }} {{utilisateur.prenom}}</span>
    </div>
  </div>
</div>

<div class="btn-container">
  <button class="btn" routerLink="/user-management">
    Gestion des profils
  </button>
</div>



