.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

  .question {
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    app-game-answer {
      margin-bottom: 10px;
    }
  }
}
