<div class="question-container" *ngIf="!calibrageService.mustBeResize()">
  <div class="question" >
    <h3 class="question-label">{{currentQuestion.label}}
    </h3>
  </div>

  <div *ngIf="!calibrageService.mustBeResize()" class="answers">
    <div class="grid-container">
      <div *ngFor="let answer of currentQuestion.answers; let i = index" class="grid-item">
        <app-game-answer [answer]="answer" [correct]="isAnswerCorrect(answer)"
                         [enlargeButtons]="gameService.recalibrageEffectue"
                         (answerSelected)="onAnswerSelected(currentQuestion, answer)"
                         [containerClick]="containerClick"
                         [backgroundColor]="colorPairs[i].bgColor"
                         [textColoor]="colorPairs[i].textColor"
                         class="answer-btn"></app-game-answer>
      </div>
    </div>
  </div>
</div>

<div class="question-container-resized" *ngIf="calibrageService.mustBeResize()">
  <div class="question" *ngIf="calibrageService.mustBeResize()">
    <h3 class="question-label-resized">{{currentQuestion.label}}</h3>
  </div>
  <div *ngIf="calibrageService.mustBeResize()" class="answers">
    <div class="grid-container">
      <div *ngFor="let answer of currentQuestionMinus?.answers; let i = index" class="grid-item">
        <app-game-answer [answer]="answer" [correct]="isAnswerCorrect(answer)"
                         [enlargeButtons]="gameService.recalibrageEffectue"
                         (answerSelected)="onAnswerSelected(currentQuestion, answer)"
                         [containerClick]="containerClick"
                         [backgroundColor]="colorPairs[i].bgColor"
                         [textColoor]="colorPairs[i].textColor"
                         [class.answer-btn]="true"
        ></app-game-answer>
      </div>
    </div>
  </div>
</div>
