<div class="header">
  <button class="level" routerLink="/" AdaptButtonSize>Accueil</button>
  <button class="level" (click)="updateButtonConfiguration({ buttonWidth: '300px', buttonHeight: '300px', fontSize: '70px'})" AdaptButtonSize>Niveau 5</button>
  <button class="level" (click)="updateButtonConfiguration({ buttonWidth: '250px', buttonHeight: '250px', fontSize: '60px'})" AdaptButtonSize>Niveau 4</button>
  <button class="level" (click)="updateButtonConfiguration({ buttonWidth: '200px', buttonHeight: '200px', fontSize: '50px'})" AdaptButtonSize>Niveau 3</button>
  <button class="level" (click)="updateButtonConfiguration({ buttonWidth: '150px', buttonHeight: '150px', fontSize: '40px'})" AdaptButtonSize>Niveau 2</button>
  <button class="level" (click)="updateButtonConfiguration({ buttonWidth: '100px', buttonHeight: '100px', fontSize: '30px'})" AdaptButtonSize>Niveau 1</button>
</div>

