@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.homePageBody {
  /* Ajoutez un fond d'écran si vous le souhaitez */
  //background-image: url('/assets/accueil_font.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 48px; /* Taille de police réduite */
  margin-bottom: 10px;
  color: #000000; /* Couleur du texte en noir */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Ombre portée blanche pour améliorer la lisibilité */
}

h2 {
  text-align: center;
  font-size: 24px; /* Taille de police réduite */
  margin-bottom: 50px;
  color: #000000; /* Couleur du texte en noir */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); /* Ombre portée blanche pour améliorer la lisibilité */
}


.carousel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-btn {
  background-color: #1e88e5;
  color: white;
  font-size: 24px;
  padding: 48px 96px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-btn:hover {
  background-color: #1976d2;
}

.btn-icon {
  font-size: 96px;
  margin-bottom: 16px;
}
