<div class="homePageBody">
  <h1>Bienvenue sur PolyQuiz</h1>
  <h2>Un jeu de quiz pour les personnes atteintes de la maladie de Parkinson</h2>
  <ngb-carousel [interval]="3000" [showNavigationIndicators]="false">
    <ng-template ngbSlide>
      <label>{{ labelMessage1 }}</label>
      <div class="carousel-content">
        <button routerLink="/gameinstance" class="carousel-btn" AdaptButtonSize>
          <i class="fas fa-question-circle btn-icon"></i>
          <span>Quiz</span>
        </button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <label>{{ labelMessage2 }}</label>
      <div class="carousel-content">
        <button routerLink="/calibrage" class="carousel-btn" AdaptButtonSize>
          <i class="fas fa-cog btn-icon"></i>
          <span>Calibrage</span>
        </button>
      </div>
    </ng-template>
<!--    <ng-template ngbSlide>-->
<!--      <div class="carousel-content">-->
<!--        <button routerLink="/connexion" class="carousel-btn" AdaptButtonSize>-->
<!--          <i class="fas fa-user btn-icon"></i>-->
<!--          <span>Connexion</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </ng-template>-->
  </ngb-carousel>
</div>

