div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 64px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 128px;
  min-width: 300px;/*pour que le bouton soit de la même taille que le bouton de la page d'accueil*/
}

button:hover {
  background-color: #3e8e41;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin-top: 200px;
}
