<div class="game-page">
  <div class="game-info">
    <h2>{{ (quiz | async)?.name }}</h2>
    <h4>{{ (quiz | async)?.theme }}</h4>
    <p>{{ gameService.currentQuestionIndex + 1 }}/{{ (quiz | async)?.questions?.length }}</p>
  </div>
  <div class="game-question">
    <app-game-question [currentQuestion]="currentQuestion" (answerSelected)="onAnswerSelected($event)" *ngIf="currentQuestion"></app-game-question>
  </div>
  <div class="game-controls">
    <button class="btn btn-primary" [disabled]="gameService.currentQuestionIndex === 0" (click)="previousQuestion()">Précédent</button>
    <button class="btn btn-primary" [disabled]="gameService.currentQuestionIndex === ((quiz | async)?.questions?.length ?? 0) - 1" (click)="nextQuestion()">Suivant</button>
  </div>
</div>
