<div class="question-container">
  <h3>{{ currentQuestion.label }}</h3>
  <div class="answer-list">
    <div class="answer" *ngFor="let answer of currentQuestion.answers">
      <input type="radio" [id]="answer.value" [value]="answer.isCorrect" (change)="onAnswerSelected(currentQuestion,answer)">
      <label [for]="answer.value">{{ answer.value }}</label>
    </div>
  </div>
  <button (click)="nextQuestion()">Suivant</button>
</div>



<div class="question-container">
  <div class="question">
    <h3>{{currentQuestion.label}}</h3>
  </div>
  <div class="answers">
    <app-gameanswer *ngFor="let answer of currentQuestion.answers" [answer]="answer" (selected)="onAnswerSelected($event)"></app-gameanswer>
  </div>
</div>
