<div class="calibration-wrapper" >
  <div (click)="onButtonClickOutside($event)">
    <h2>Calibrage</h2>
    <p>Test de bouton {{ levels[currentLevel] }}</p>
    <div class="buttons" (click)="onButtonClickOutside($event)">
      <button *ngIf="showButton" (click)="onButtonClick()" [style.width.px]="buttonSizes[currentLevel]" [style.height.px]="buttonSizes[currentLevel]" [disabled]="buttonDisabled">{{ levels[currentLevel] }}</button>
    </div>
  </div>
  <app-modal [message]="this.modalMessage[this.currentLevel]" [show]="showModal" (close)="closeModal()"></app-modal>
</div>
