<div *ngIf="!quizStarted" class="game-instance">
  <div class="game-menu">
    <h2>Menu principal</h2>
    <div class="carousel">
      <figure>
        <ng-container *ngFor="let quiz of quizList$ | async">
          <div class="quiz-item">
            {{quiz.name}}
            <button (click)="selectQuiz(quiz.id)" AdaptButtonSize>Jouer</button>
          </div>
        </ng-container>
      </figure>
      <nav>
        <button #prevButton class="nav prev" (click)="onClick(-1)">Prev</button>
        <button #nextButton class="nav next" (click)="onClick(1)">Next</button>
      </nav>
    </div>
  </div>
</div>

<div *ngIf="quizStarted" class="game-content">
  <app-game-page [quizId]="(currentQuiz | async)?.id"></app-game-page>
</div>
