@use 'sass:math'; // Ajoutez cette ligne en haut de votre fichier SCSS

// Ajoutez ces lignes en dessous de l'importation du module 'sass:math'
$n: 6; // Modifiez cette valeur pour refléter le nombre d'éléments dans votre liste de quiz
//$item-width: 300px; // Largeur des éléments de quiz
$item-width: max(500px, 600px); // Largeur des éléments de quiz

$item-separation: math.div(80px, 2) or calc(80px / 2);
$viewer-distance: 500px;

$theta: math.div(2 * 3.141592653589793, $n) or calc(2 * 3.141592653589793 / $n);

$apothem: math.div($viewer-distance, math.tan(3.141592653589793 / $n));

$background-images: ('mon_voisin_Totoro.jpg', 'studio_ghibli.jpg', 'voyage_de_chinro.jpg');



.game-instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  //background-image: url('/assets/accueil_font.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;


  .game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
    }
  }

  .carousel {
    padding: 20px;

    perspective: $viewer-distance;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
      flex: 0 0 auto;
    }

    figure {
      margin: 0;

      width: $item-width;
      transform-style: preserve-3d;
      transition: transform 0.5s;
      transform-origin: 50% 50% (-$apothem);

      .quiz-item {
        width: $item-width;
        box-sizing: border-box;
        padding: 0 $item-separation / 2;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:not(:first-of-type) {
          position: absolute;
          left: 0;
          top: 0;
          transform-origin: 50% 50% (-$apothem);
        }

        @for $i from 0 through $n - 1 {
          &:nth-child(#{$i + 1}) {
            transform: rotateY(#{$i * $theta}rad);
          }
        }


        button {
          font-size: 24px; // Changez cette valeur pour ajuster la taille du texte
          //padding: 125px 105px; // Changez ces valeurs pour ajuster la taille du bouton
          border: none; // Supprime la bordure par défaut
          border-radius: 10px; // Ajoute un arrondi aux coins du bouton
          background-color: #007bff; // Changez cette valeur pour la couleur souhaitée
          color: #fff; // Changez cette valeur pour la couleur du texte souhaitée
          cursor: pointer; // Change le curseur en forme de main lorsqu'il survole le bouton

          &:hover {
            background-color: #0069d9; // Changez cette valeur pour la couleur souhaitée lors du survol du bouton
          }
        }
      }
    }

    nav {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;
      text-align: center;

      button {
        flex: 0 0 auto;
        margin: 0 5px;

        cursor: pointer;
        font-size: 32px;
        font-weight: bold;
        align-content: center;
        justify-content: center;
        color: #333;
        background: none;
        border: 1px solid;
        letter-spacing: 1px;
        padding: 5px 10px;
      }
    }
  }

  .game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    //background-image: url('/assets/accueil_font.jpg');
    background-size: cover;
    transition: background-image 1s ease-in-out;

    @for $i from 1 through length($background-images) {
      $image: nth($background-images, $i);
      &:nth-child(#{$i}) {
        background-image: url('/assets/#{$image}');
      }
    }

    app-game-page {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 100%;
      max-width: 800px;
      height: 100%;
      background-color: #fff;

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
      }

      h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }

      p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 16px;
          margin-bottom: 10px;
          color: #333;
        }
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        color: #fff;
        background-color: #007bff;
        cursor: pointer;

        &:hover {
          background-color: #0069d9;
        }
      }

      .question-wrapper {
        margin-bottom: 20px;

        h3 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
          color: #333;
        }

        p {
          font-size: 16px;
          margin-bottom: 10px;
          color: #333;
        }

        .answer-wrapper {
          display: flex;
          flex-direction: column;

          label {
            font-size: 16px;
            color: #333;

            input {
              margin-right: 10px;
            }
          }
        }
      }
    }

    $animation-delay: 10s;
    @keyframes change-background {
      0% { opacity: 0; }
      10% { opacity: 1; }
      80% { opacity: 1; }
      90% { opacity: 0; }
      100% { opacity: 0; }
    }

    animation: change-background $animation-delay infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }

}


