<div class="game-page">
  <div class="game-info">
    <h2>{{quiz.name}}</h2>
    <h4>{{quiz.theme}}</h4>
    <p>{{questionIndex + 1}}/{{totalQuestions}}</p>
  </div>
  <div class="game-question">
    <app-gamequestion [currentQuestion]="currentQuestion" (answerSelected)="onAnswerSelected($event)"></app-gamequestion>
  </div>
  <div class="game-controls">
    <button class="btn btn-primary" [disabled]="disablePrevious()" (click)="previousQuestion()">Précédent</button>
    <button class="btn btn-primary" [disabled]="disableNext()" (click)="nextQuestion()">Suivant</button>
  </div>
</div>
