<div id="bloc" >
<div class="container">
  <h2><u> Creer un nouvel Utilisateur   </u></h2>
    <form class="profil" [formGroup]="userForm">
      <label for="nom">
        Nom <br>
        <input class="custom" type="text" formControlName="nom" id="nom">
      </label>
      <br>
      <label for="prenom">
        Prenom <br>
        <input class="custom" type="text" formControlName="prenom" id="prenom">
      </label>
      <br>

      <button type="submit" class="button" (click)="addUser()" >Créer</button>
    </form>
  </div>
</div>

