<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SOLID</title>
</head>

<body>
  <h2>
    <div id="nom"><i> Nom : </i>  {{this.user.nom}} </div>
    <div id="prenom"> <i> Prenom : </i> {{this.user.prenom}} </div>
    <div id="id"><i> Id : </i> {{this.user.id}} </div>
    <div id="score"> <i> Score</i>  {{this.user.score}} </div>
    <div id="stade"> <i> Stade </i>  {{this.user.stade}} </div>
  </h2>
  <button classe="btn" (click)="userDelete()">Supprimer</button>
</body>

